.flickr_img_wrapper {
  background-size: cover;
  background-position: center center;
  height: 130px;
  overflow: hidden;
  width: 100%;
}


.flickr_item {
  float: left;
  width: 25%;
}
.flickr_item img {
  height: auto;
  width: 100%;
}